<!DOCTYPE html>
<html lang="en" ng-app="pizza-time">
<head>
  <meta charset="UTF-8">
  <title>Pizza Time</title>
  <title></title>
</head>
<body>
  <div id="container" ng-controller="mainCtrl">
    <h2>Pizza in:</h2>
    <h1>{{ message | date:"HH:mm:ss" }}</h1>

    <input type="datetime-local" ng-model="arrivalDateTime"/>
    <button ng-click="setArrival()">Submit</button>
  </div>
  
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
