<!DOCTYPE html>
<html lang="en" ng-app="pizza-time">
<head>
  <meta charset="UTF-8">
  <title>Pizza Time</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div id="container" ng-controller="mainCtrl">
    <div id="title">
      <h2>Pizza in:</h2>
    </div>

    <div id="countdown">
      <h1>{{ message | date:"HH:mm:ss" }}</h1>
    </div>

    <div id="input">
      <input type="datetime-local" ng-model="arrivalDateTime"/>
      <button ng-click="setArrival()">Submit</button>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
